{#{% block form_widget_simple %}#}
    {#{{ parent() }}#}

    {#{% if help is defined %}#}
        {#<p class="form-text text-muted">{{ help }}</p>#}
    {#{% endif %}#}
{#{% endblock %}#}

{#{% block form_errors %}#}
    {#{% spaceless %}#}
        {#{% if errors|length > 0 %}#}
            {#<ul>#}
                {#{% for error in errors %}#}
                    {#<li class="form-text text-danger"><i class="material-icons">error_outline</i> {{ error.message }}</li>#}
                {#{% endfor %}#}
            {#</ul>#}
        {#{% endif %}#}
    {#{% endspaceless %}#}
{#{% endblock form_errors %}#}