{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}">
        <img src="{{ app_uploader_path(object, field_description.name)|data_uri }}" width="70" height="45" />
    </a>
{% endblock %}
