<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width"/>

        <style type="text/css">
            * { margin: 0; padding: 0; font-size: 100%; font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; line-height: 1.65; }
            img { max-width: 100%; margin: 0 auto; display: block; }
            body, .body-wrap { width: 100% !important; height: 100%; background: #f8f8f8; }
            a { color: #e91e63; text-decoration: none; }
            a:hover { text-decoration: underline; }
            .text-center { text-align: center; }
            .text-right { text-align: right; }
            .text-left { text-align: left; }
            h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; line-height: 1.25; }
            h1 { font-size: 32px; }
            h2 { font-size: 28px; }
            h3 { font-size: 24px; }
            h4 { font-size: 20px; }
            h5 { font-size: 16px; }
            p, ul, ol { font-size: 16px; font-weight: normal; margin-bottom: 20px; }
            .container { display: block !important; clear: both !important; margin: 0 auto !important; max-width: 580px !important; }
            .container table { width: 100% !important; border-collapse: collapse; }
            .container .masthead { padding: 80px 0; background-image: url("main_head.jpg"); color: #ea2c6d; border-style: solid; border-color: #f8f8f8; border-width: 1px 1px 0 1px; }
            .container .masthead h1 { margin: 0 auto !important; max-width: 90%; text-transform: uppercase; }
            .container .content { background: white; padding: 30px 35px; border-style: solid; border-color: #ec407a; border-width: 22px 1px 1px 1px; }
            .container .content.footer { background: none; border: 0; }
            .container .content.footer p { margin-bottom: 0; color: #888; text-align: center; font-size: 14px; }
            .container .content.footer a { color: #888; text-decoration: none; font-weight: bold; }
            .container .content.footer a:hover { text-decoration: underline; }
            .btn { display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid transparent; padding: .46875rem 1rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
            .btn:focus, .btn:hover { text-decoration: none; }
            .btn:focus { outline: 0; box-shadow: 0 0 0 .2rem rgba(33, 150, 243, .25); }
            .btn.disabled, .btn:disabled { opacity: .65; box-shadow: none; }
            .btn:not(:disabled):not(.disabled) { cursor: pointer; }
            .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active { background-image: none; box-shadow: none; }
            .btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus { box-shadow: 0 0 0 .2rem rgba(33, 150, 243, .25), none; }
            a.btn.disabled { pointer-events: none; }
            .btn.btn-rose { color: #fff; background-color: #e91e63; border-color: #e91e63; box-shadow: 0 2px 2px 0 rgba(233, 30, 99, .14), 0 3px 1px -2px rgba(233, 30, 99, .2), 0 1px 5px 0 rgba(233, 30, 99, .12); }
            .btn.btn-rose.focus, .btn.btn-rose:focus, .btn.btn-rose:hover { color: #fff; background-color: #ea2c6d; border-color: #b8124a; }
            .btn.btn-rose.active, .btn.btn-rose:active { color: #fff; background-color: #ea2c6d; border-color: #b8124a; box-shadow: 0 2px 2px 0 rgba(233, 30, 99, .14), 0 3px 1px -2px rgba(233, 30, 99, .2), 0 1px 5px 0 rgba(233, 30, 99, .12); }
            .btn.btn-rose.active.focus, .btn.btn-rose.active:focus, .btn.btn-rose.active:hover, .btn.btn-rose:active.focus, .btn.btn-rose:active:focus, .btn.btn-rose:active:hover { color: #fff; background-color: #ea2c6d; border-color: #7b0c32; }
            .btn.btn-rose.disabled.focus, .btn.btn-rose.disabled:focus, .btn.btn-rose.disabled:hover, .btn.btn-rose:disabled.focus, .btn.btn-rose:disabled:focus, .btn.btn-rose:disabled:hover { background-color: #e91e63; border-color: #e91e63; }
            .btn.btn-rose:active, .btn.btn-rose:focus, .btn.btn-rose:hover { box-shadow: 0 14px 26px -12px rgba(233, 30, 99, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(233, 30, 99, .2); }
            .btn.btn-rose.btn-link { box-shadow: none; }
            .btn.btn-rose.btn-link, .btn.btn-rose.btn-link:active, .btn.btn-rose.btn-link:focus, .btn.btn-rose.btn-link:hover { background-color: transparent; color: #e91e63; }
.btn-facebook {
  border-color: #3b5998;
  color: #3b5998; }
  .btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .btn-facebook.dropdown-toggle {
    background-color: #3b5998;
    border-color: #3b5998;
    color: rgba(255, 255, 255, 0.7); }
  .btn-facebook:disabled, .btn-facebook[disabled], .btn-facebook.disabled {
    background-color: transparent;
    border-color: #3b5998; }
  .btn-facebook.btn-fill {
    color: #FFFFFF;
    background-color: #3b5998;
    opacity: 0.8; }
    .btn-facebook.btn-fill:hover, .btn-facebook.btn-fill:focus, .btn-facebook.btn-fill:active, .btn-facebook.btn-fill.active, .open > .btn-facebook.btn-fill.dropdown-toggle {
      background-color: #3b5998;
      border-color: #3b5998;
      color: #FFFFFF;
      opacity: 1; }
  .btn-facebook.btn-simple {
    color: #3b5998;
    opacity: 0.8; }
    .btn-facebook.btn-simple:hover, .btn-facebook.btn-simple:focus, .btn-facebook.btn-simple:active, .btn-facebook.btn-simple.active, .open > .btn-facebook.btn-simple.dropdown-toggle {
      background-color: transparent;
      color: #3b5998;
      opacity: 1; }
      .btn-facebook.btn-simple:hover i, .btn-facebook.btn-simple:focus i, .btn-facebook.btn-simple:active i, .btn-facebook.btn-simple.active i, .open > .btn-facebook.btn-simple.dropdown-toggle i {
        color: #3b5998;
        opacity: 1; }

.btn-twitter {
  border-color: #55acee;
  color: #55acee; }
  .btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open > .btn-twitter.dropdown-toggle {
    background-color: #55acee;
    border-color: #55acee;
    color: rgba(255, 255, 255, 0.7); }
  .btn-twitter:disabled, .btn-twitter[disabled], .btn-twitter.disabled {
    background-color: transparent;
    border-color: #55acee; }
  .btn-twitter.btn-fill {
    color: #FFFFFF;
    background-color: #55acee;
    opacity: 0.8; }
    .btn-twitter.btn-fill:hover, .btn-twitter.btn-fill:focus, .btn-twitter.btn-fill:active, .btn-twitter.btn-fill.active, .open > .btn-twitter.btn-fill.dropdown-toggle {
      background-color: #55acee;
      border-color: #55acee;
      color: #FFFFFF;
      opacity: 1; }
  .btn-twitter.btn-simple {
    color: #55acee;
    opacity: 0.8; }
    .btn-twitter.btn-simple:hover, .btn-twitter.btn-simple:focus, .btn-twitter.btn-simple:active, .btn-twitter.btn-simple.active, .open > .btn-twitter.btn-simple.dropdown-toggle {
      background-color: transparent;
      color: #55acee;
      opacity: 1; }
      .btn-twitter.btn-simple:hover i, .btn-twitter.btn-simple:focus i, .btn-twitter.btn-simple:active i, .btn-twitter.btn-simple.active i, .open > .btn-twitter.btn-simple.dropdown-toggle i {
        color: #55acee;
        opacity: 1; }
.btn-google {
  border-color: #dd4b39;
  color: #dd4b39; }
  .btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active, .open > .btn-google.dropdown-toggle {
    background-color: #dd4b39;
    border-color: #dd4b39;
    color: rgba(255, 255, 255, 0.7); }
  .btn-google:disabled, .btn-google[disabled], .btn-google.disabled {
    background-color: transparent;
    border-color: #dd4b39; }
  .btn-google.btn-fill {
    color: #FFFFFF;
    background-color: #dd4b39;
    opacity: 0.8; }
    .btn-google.btn-fill:hover, .btn-google.btn-fill:focus, .btn-google.btn-fill:active, .btn-google.btn-fill.active, .open > .btn-google.btn-fill.dropdown-toggle {
      background-color: #dd4b39;
      border-color: #dd4b39;
      color: #FFFFFF;
      opacity: 1; }
  .btn-google.btn-simple {
    color: #dd4b39;
    opacity: 0.8; }
    .btn-google.btn-simple:hover, .btn-google.btn-simple:focus, .btn-google.btn-simple:active, .btn-google.btn-simple.active, .open > .btn-google.btn-simple.dropdown-toggle {
      background-color: transparent;
      color: #dd4b39;
      opacity: 1; }
      .btn-google.btn-simple:hover i, .btn-google.btn-simple:focus i, .btn-google.btn-simple:active i, .btn-google.btn-simple.active i, .open > .btn-google.btn-simple.dropdown-toggle i {
        color: #dd4b39;
        opacity: 1; }              
        </style>

    </head>
    <body>
        <table class="body-wrap">
            <tr>
                <td class="container">
                    <!-- Message start -->
                    <table>
                        <tr>
                            <td align="center" class="masthead">
                                <h1>Something Big...</h1>
                            </td>
                        </tr>
                        <tr>
                            <td class="content">
                                <h2>Hi Stranger,</h2>

                                <p>Kielbasa venison ball tip shankle. Boudin prosciutto landjaeger, pancetta jowl turkey tri-tip porchetta beef pork loin drumstick. Frankfurter short ribs kevin pig ribeye drumstick bacon kielbasa. Pork loin brisket biltong, pork belly filet mignon ribeye pig ground round porchetta turducken turkey. Pork belly beef ribs sausage ham hock, ham doner frankfurter pork chop tail meatball beef pig meatloaf short ribs shoulder. Filet mignon ham hock kielbasa beef ribs shank. Venison swine beef ribs sausage pastrami shoulder.</p>
                                <table>
                                    <tr>
                                        <td align="center">
                                            <p>
                                                <a href="#" class="btn btn-rose">Share the Awesomeness</a>
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                                <p>By the way, if you're wondering where you can find more of this fine meaty filler, visit <a href="http://baconipsum.com">Bacon Ipsum</a>.</p>

                                <p><em>– Mr. Pen</em></p>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="container">
                    <!-- Message start -->
                    <table>
                        <tr>
                            <td class="content footer" align="center">
                                <p>Sent by <a href="#">Company Name</a>, 1234 Yellow Brick Road, OZ, 99999</p>
                                <p><a href="mailto:">hello@company.com</a> | <a href="#">Unsubscribe</a></p>
                                <p>
                                    <button class="btn btn-icon btn-fill btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </button>                                
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
