<div class="card card-plain card-blog sr">
    <div class="row">
        <div class="col-sm-6">
            <a href="{{ path('post', { 'id': post.id }) }}" class="header">
                {% image 'bundles/app/images/bodorriol.jpg' %}
                <img src="{{ asset_url }}" alt="Bodorriol" class="img-raised rounded img-fluid">
                {% endimage %}
            </a>
        </div>
        <div class="col-sm-5 col-md-offset-1">
            <div class="content">
                <a href="{{ path('post', { 'id': post.id }) }}" class="card-title">
                    <h2 class="text-center">¡Reserva tu bodorriol! Confirma tu asistencia</h2>
                </a>

                <p class="description">That dreams will actualize. Dreams will manifest. We still love Kanye We will find freedom in truth as opposed to ridicule. All respect prayers and love to Phife’s family Thank you for so much inspiration...</p>

                {#<a href="#gaia" class="btn btn-danger btn-fill">Read More</a>#}

            </div>
        </div>
    </div>
</div>