<div class="card card-pricing card-plain">
    <div class="card-header card-header-primary text-center">
        <span class="card-title">Menú adulto</span>
    </div>
    <div class="card-body">
        <ul>
            <li><h6>Gazpacho de cerezas</h6></li>
            <li><h6>Ensalada de bacalao y pastel</h6></li>
            <li><h6>Sorbete de mojito</h6></li>
            <li><h6>Solomillo de ternera a la mostaza</h6></li>
            <li><h6>Caramelo Royal</h6></li>
        </ul>
    </div>
</div>

<div class="card card-pricing card-plain">
    <div class="card-header card-header-primary text-center">
        <span class="card-title">Menú vegano</span>
    </div>
    <div class="card-body">
        <ul>
            <li><h6>Gazpacho de cerezas</h6></li>
            <li><h6>Canelones vegetarianos</h6></li>
            <li><h6>Sorbete de mojito</h6></li>
            <li><h6>Pastel Farah Diba</h6></li>
            <li><h6>Macedonia de frutas</h6></li>
        </ul>
    </div>
</div>

<div class="card card-pricing card-plain">
    <div class="card-header card-header-primary text-center">
        <span class="card-title">Menú celiaco sin lactosa</span>
    </div>
    <div class="card-body">
        <ul>
            <li><h6>Gazpacho de cerezas</h6></li>
            <li><h6>Gambas y langostinos</h6></li>
            <li><h6>Solomillo de ternera a la mostaza</h6></li>
            <li><h6>Mousse de chocolate celiacos y frutos secos</h6></li>
        </ul>
    </div>
</div>

<div class="card card-pricing card-plain">
    <div class="card-header card-header-primary text-center">
        <span class="card-title">Menú infantil</span>
    </div>
    <div class="card-body">
        <ul>
            <li><h6>Piadina romagnola de jamón y nubes de pollo</h6></li>
            <li><h6>Solomillo de ternera madrileña con patatas fritas</h6></li>
            <li><h6>Capricho de nube</h6></li>
        </ul>
    </div>
</div>

<div class="card card-pricing card-plain">
    <div class="card-header card-header-primary text-center">
        <span class="card-title">Menú recena (durante barra libre)</span>
    </div>
    <div class="card-body">
        <ul>
            <li><h6>Mini sandwich en pan de tramezzini</h6></li>
            <li><h6>focaccia de jamón y champiñón</h6></li>
            <li><h6>Mini hamburguesa de solomillo</h6></li>
        </ul>
    </div>
</div>