<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
  <script src="assets/js/jquery.min.js" type="text/javascript"></script>
  <style type="text/css">
	.table-planner div {
	  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
	  background-color: #9c27b0;
	}
	.rounded-table {
	  position: relative;
	  width: 150px;
	  height: 150px;
	  border-radius: 50%;
	  margin: 50px;
  	  text-align: center;
  	  display: table;
	  color: #ffffff;
	}
	.rounded-seat {
	  position: absolute;
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	}
	.rounded-table span {
	  display: table-cell;
	  vertical-align: middle;
	}
	.rounded-table img {
	  width: 40px;
	  height: 40px;
	  border-radius: 6px;
	  -webkit-transition: .4s all;
    	  -moz-transform: .4s all;
	  -o-transform: .4s all;
	  transform: .4s all;
	  box-shadow: 0 5px 15px -8px rgba(0,0,0,0.24),0 8px 10px -5px rgba(0,0,0,0.2);
	}
	.img-transition {
	    -webkit-transform: scale(3); 
	    -moz-transform: scale(3);
	    -o-transform: scale(3);
	    transform: scale(3);
	    z-index: 400;
	    box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
	}
  </style>
</head>

<body>
  <div class="table-planner">
  	<div id="parentdiv" class="rounded-table">
		<span>
			<p>Presidencia</p>
			<p>Grease</p>
			<img src="./GrsSnd.jpg" />
		</span>
	</div>
  </div>
</body>

  <script type="text/javascript">
  	$(document).ready(function() {
		var seats = 10;
		var div = 360 / seats;
		var radius = 105;
		var parentdiv = document.getElementById('parentdiv');
		var offsetToParentCenter = parseInt(parentdiv.offsetWidth / 2); //assumes parent is square
		var offsetToChildCenter = 20;
		var totalOffset = offsetToParentCenter - offsetToChildCenter;
		for (var i = 1; i <= seats; ++i) {
			var childdiv = document.createElement('div');
			childdiv.className = 'rounded-seat';
			childdiv.style.position = 'absolute';
			var y = Math.sin((div * i) * (Math.PI / 180)) * radius;
			var x = Math.cos((div * i) * (Math.PI / 180)) * radius;
			childdiv.style.top = (y + totalOffset).toString() + "px";
			childdiv.style.left = (x + totalOffset).toString() + "px";
			parentdiv.appendChild(childdiv);
		}

		$('.rounded-table img').hover(function(){
		      $(this).addClass('img-transition');
		},function(){
		    $(this).removeClass('img-transition');   
		});

	});
  </script>
</html>


