<div id="bio-cards" class="row">
    <div class="col-md-6 col-xs-12">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    {% image '../app/Resources/public/images/albertusko.png' output='assets/images/albertusko.png' %}
                    <img class="img" src="{{ asset_url }}">
                    {% endimage %}
                </a>
            </div>
            <div class="card-body ">
                <h6 class="card-category text-gray">{{ 'frontend.profiles.bride'|trans }}</h6>
                <h4 class="card-title">Vero</h4>
                <p class="card-description">
                    Soñadora en prácticas y combinación de enfermera y madre el resto del tiempo. De profesión buscavidas cuando no se va a favor de corriente. Nacida en Madrid, con media vida en Alcorcón y tratando de echar raíces en Fuenlabrada. Afrontando esta nueva etapa con toda la ilusión del mundo porque tiene todo lo que necesita: una pareja adorable, su amor peludo y su vida en un retoño... y ansiosa por veros en Nuestro Gran Día!
                </p>
                {#<a href="#pablo" class="btn btn-primary btn-round">Follow</a>#}
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    {% image '../app/Resources/public/images/albertusko.png' output='assets/images/albertusko.png' %}
                    <img class="img" src="{{ asset_url }}">
                    {% endimage %}
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-category">{{ 'frontend.profiles.groom'|trans }}</h6>
                <h4 class="card-title">Carlos</h4>
                <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
                {#<a href="#pablo" class="btn btn-info btn-round">Follow</a>#}
            </div>
        </div>
    </div>
</div>
