<div id="bio-cards" class="row">
    <div class="col-md-6 col-xs-12">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    {% image '../app/Resources/public/images/bride.jpg' %}
                    <img class="img" src="{{ asset_url }}">
                    {% endimage %}
                </a>
            </div>
            <div class="card-body ">
                <h6 class="card-category text-gray">{{ 'frontend.bio.bride'|trans }}</h6>
                <h4 class="card-title">Vero</h4>
                <p class="card-description">
                    Soñadora en prácticas y combinación de enfermera y madre el resto del tiempo. De profesión buscavidas cuando no se va a favor de corriente. Nacida en Madrid, con media vida en Alcorcón y tratando de echar raíces en Fuenlabrada. Afrontando esta nueva etapa con toda la ilusión del mundo porque tiene todo lo que necesita: una pareja adorable, su amor peludo y su vida en un retoño... y ansiosa por veros en su Gran Día!
                </p>
                {#<a href="#pablo" class="btn btn-primary btn-round">Follow</a>#}
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    {% image '../app/Resources/public/images/groom.jpg' %}
                    <img class="img" src="{{ asset_url }}">
                    {% endimage %}
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-category">{{ 'frontend.bio.groom'|trans }}</h6>
                <h4 class="card-title">Carlos</h4>
                <p class="card-description">
                    Héroe durante el día, padre ojeroso por la noche, ha tenido que ampliar su función de superhombre a jornada completa desde que nació su bichejo. Natural de Madrid y residente en Fuenlabrada, desde donde vuela allí donde sea necesario con su capa rojiblanca y la marca de Búmbury en el corazón. Siempre enarbolando la bandera de la amistad, compañerismo, generosidad y buen rollo. Os espera a tod@s con la mirada puesta en su ilusionante horizonte, un pitillo en la boca y una copa de buen vodka en la mano la fecha de su Gran Día!
                </p>
                {#<a href="#pablo" class="btn btn-info btn-round">Follow</a>#}
            </div>
        </div>
    </div>
</div>
