<div class="col-12">
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-circle"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2010</h4>
                </div>
                <div class="timeline-body">
                    <p>Nos conocemos.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-circle"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>timeline-event timeline-event-primary</h4>
                </div>
                <div class="timeline-body">
                    <p>Stranguillione in deinde cepit roseo commendavit patris super color est se sed. Virginis plus plorantes abscederem assignato ipsum ait regem Ardalio nos filiae Hellenicus mihi cum. Theophilo litore in lucem in modo invenit quasi nomen magni ergo est se est Apollonius, habet clementiae venit ad nomine sed dominum depressit filia navem.</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Feb-23-2014</p>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-circle"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>timeline-event timeline-event-primary</h4>
                </div>
                <div class="timeline-body">
                    <p>Stranguillione in deinde cepit roseo commendavit patris super color est se sed. Virginis plus plorantes abscederem assignato ipsum ait regem Ardalio nos filiae Hellenicus mihi cum. Theophilo litore in lucem in modo invenit quasi nomen magni ergo est se est Apollonius, habet clementiae venit ad nomine sed dominum depressit filia navem.</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Feb-23-2014</p>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-circle"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2017</h4>
                </div>
                <div class="timeline-body">
                    <p>Llega a casa y al mundo nuestra mayor alegría.</p>
                    <div class="col-3">
                        {% image '../app/Resources/public/images/albertusko.png' output='assets/images/albertusko.png' %}
                        <img alt="Nuestra gran alegría" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">05-Jun-2017</p>
                </div>
            </div>
        </div>
        <div class="space-70"></div>
        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-flag-checkered"></i>
            </div>
        </div>
    </div>
</div>
