<div class="col-12">
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2006</h4>
                </div>
                <div class="timeline-body">
                    <p>Nos conocemos.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2008</h4>
                </div>
                <div class="timeline-body">
                    <p>Nos vamos a vivir juntos.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-home"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2014</h4>
                </div>
                <div class="timeline-body">
                    <p>Y tenemos nuestra propia casa!.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/writings.jpg' %}
                        <img alt="Escriturando" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-heart"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2017</h4>
                </div>
                <div class="timeline-body">
                    <p>Noche romántica para el sí quiero. Nos casamos!.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/heart.jpg' %}
                        <img alt="Románticismo" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2017</h4>
                </div>
                <div class="timeline-body">
                    <p>Llega al mundo nuestro bichito.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/baby.jpg' %}
                        <img alt="Nuestra gran alegría" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">05-Jun-2017</p>
                </div>
            </div>
        </div>
        <div class="timeline-item timeline-point-space-90">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-flag-checkered"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2018</h4>
                </div>
                <div class="timeline-body">
                    <p>¡Nuestro gran día! La familia sigue unida.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/family.jpg' %}
                        <img alt="Familia" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">14-Sept-2018</p>
                </div>
            </div>
        </div>
        <span class="timeline-label">
            <span class="badge label-primary">Continuará . . .</span>
        </span>
    </div>
</div>
