<div class="col-12">
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2006</h4>
                </div>
                <div class="timeline-body">
                    <p>Nos conocemos, nos gustamos, nos entendemos... y ya se verá que pasa.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2008</h4>
                </div>
                <div class="timeline-body">
                    <p>Llevamos tiempo juntos y decidimos dar un gran paso para nuestra relación: nos vamos a vivir juntos.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-home"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2014</h4>
                </div>
                <div class="timeline-body">
                    <p>¡La cosa funciona! Estamos bien viviendo juntos y mucho mejor si es en nuestra propia casa, ¿no?.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/writings.jpg' %}
                        <img alt="Escriturando" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-heart"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2017</h4>
                </div>
                <div class="timeline-body">
                    <p>Un fin de semana romántico que esconde una gran pregundo con dos únicas palabras como respuesta: ¡sí quiero!. ¡Gente! ¡Que nos casamos!.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/heart.jpg' %}
                        <img alt="Románticismo" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2017</h4>
                </div>
                <div class="timeline-body">
                    <p>Llega al mundo nuestro bichito.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/baby.jpg' %}
                        <img alt="Nuestra gran alegría" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">05-Jun-2017</p>
                </div>
            </div>
        </div>
        <div class="timeline-item timeline-point-space-90">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-flag-checkered"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2018</h4>
                </div>
                <div class="timeline-body">
                    <p>¡Nuestro gran día! Llevamos mucho tiempo compartido, con buenos, regulares y malos momentos. Pero siempre juntos, con nuestros dos bichejos: el peludo y el glotón. Momento importante para cimentar nuestra historia y nuestra familia. ¡Os esperamos!.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/family.jpg' %}
                        <img alt="Familia" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">14-Sept-2018</p>
                </div>
            </div>
        </div>
        <span class="timeline-label">
            <span class="badge label-primary">Continuará . . .</span>
        </span>
    </div>
</div>
